$red: #F03549;
$orange:#EBA33D;
$gray: #F2F2F2;
$gray-shallow: #E7E7E7;
$gray-deep: #AEAEAE;
$gray-deep-more: #62666B;
$lighter: #F9F9F9;
$text-main: #2B323F;
$main: #333;
$content: #666;
$blue:#0066CC;
$bg: #f7f7f7;
$gary-blue: #394457;
$gary-blue-light: #6f819d;
//字体变量
$font-color-gray: $gray-deep;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-big: 16px;
$font-size-big-more: 18px;

$border-color: $gray-shallow;
$bg-color: $gray-shallow;